<style>
  .page-item:hover {
    cursor: pointer;
  }
</style>

<!-- 페이지네이션 바 -->
<nav class="pagination-bar" aria-label="Page Navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" aria-label="Previous" onclick="onClickPreviousPageItem()">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% let minPage, maxPage; %>
    <% if (pageNo <= 10) { minPage = 1; } %> <!-- 첫 페이지는 무조건 1임. -->
    <% if (pageNo > 10) { minPage = parseInt((pageNo - 1) / 10) * 10 + 1; } %> <!-- 그 다음부턴 10씩 증가함. -->


    <!-- 보여줄 목록 갯수가 딱 10으로 나누어 떨어질경우  -->
    <% if (numOfListItem % 10 === 0) { %>
      <% if (minPage + 10 < parseInt(numOfListItem / 10)) { maxPage = minPage + 9 } %>
      <% if (minPage + 10 >= parseInt(numOfListItem / 10)) { maxPage = parseInt(numOfListItem / 10) } %>
    <% } %>

    <!-- 보여줄 목록 갯수가 딱 10으로 나누어 떨어지지 않을 경우 -->
    <% if (numOfListItem % 10 != 0) { %>
      <% if (minPage + 10 < parseInt(numOfListItem / 10)) { maxPage = minPage + 9 } %>
      <% if (minPage + 10 >= parseInt(numOfListItem / 10)) { maxPage = parseInt(numOfListItem / 10) + 1 } %>
    <% } %>

    <% for (let i = minPage; i <= maxPage; i++) { %>
      <li class="page-item"><a class="page-link" value="<%=i%>" onclick="onClickPageItem(this)"><%=i%></a></li>
    <% } %>
    <li class="page-item" id="next-page-item">
      <a class="page-link" aria-label="Next" onclick="onClickNextPageItem()">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  <input type="hidden" id="numOfListItem" value="<%=numOfListItem%>"> <!-- 페이지 계산을 위해 사용되는 음식 총 갯수 -->
  <input type="hidden" id="sectionName" value="<%=sectionName%>"> <!-- 리다이렉션 URL에 포함시키기 위함 -->
  <input type="hidden" id="minPage" value="<%=minPage%>"> <!-- 네비바에 보이는 가장 낮은 페이지 -->
  <input type="hidden" id="maxPage" value="<%=maxPage%>"> <!-- 네비바에 보이는 가장 높은 페이지 -->
</nav>

<script>
  // 페이지 번호 클릭 시 해당 페이지 출력하도록 서버에 요청
  function onClickPageItem(e) {
    let params = getQueryParams();
    let sectionName = document.getElementById("sectionName").value;

    params["pageNo"] = e.innerText;
    window.location.href = "/admin/" + sectionName + toQueryString(params);
  }

  // 이전 페이지 클릭 시
  function onClickPreviousPageItem() {
    let params = getQueryParams();

    let pageNo = params.pageNo;
    let numOfListItem = document.getElementById("numOfListItem").value;
    let sectionName = document.getElementById("sectionName").value;

    if (isEmpty(pageNo)) {
      pageNo = 1;
    } else {
      pageNo = parseInt(pageNo);
    }

    // 만약 목표 페이지가 음수라면 최소 페이지인 1로 지정
    let destPage = pageNo - 10;
    if (destPage < 1) destPage = 1;

    params["pageNo"] = destPage;
    window.location.href = "/admin/" + sectionName + toQueryString(params);
  }

  // 다음 페이지 클릭 시
  function onClickNextPageItem() {
    let params = getQueryParams();

    let pageNo = params.pageNo;
    let numOfListItem = document.getElementById("numOfListItem").value;
    let sectionName = document.getElementById("sectionName").value;
    let maxPage = parseInt(document.getElementById("maxPage").value);

    if (isEmpty(pageNo)) {
      pageNo = 1;
    } else {
      pageNo = parseInt(pageNo);
    }

    // 다음 페이지는 현재 보고있는 페이지에서 10을 더한 값이다.
    // 그런데 다음 페이지로 가기전에 보여줄 페이지 내용이 끝난다면 그 마지막 위치로 이동한다.
    let destPage = pageNo + 10;
    if (numOfListItem % 10 === 0) {
      if (destPage >= parseInt(numOfListItem / 10)) {
        destPage = parseInt(numOfListItem / 10);
      }
    } else {
      if (destPage >= parseInt(numOfListItem / 10) + 1) {
        destPage = parseInt(numOfListItem / 10) + 1;
      }
    }

    params["pageNo"] = destPage;
    window.location.href = "/admin/" + sectionName + toQueryString(params);
  }

  // 페이지 로드 시
  window.addEventListener("load", onLoad, true);
  function onLoad() {
    let params = getQueryParams();
    
    // 현재 보고 있는 페이지의 아이템에 active 속성 추가
    let pageLink = document.querySelector(`.page-link[value='${params.pageNo}']`);
    if (pageLink) {
      pageLink.parentElement.classList.add("active");
    } else {
      document.querySelector(`.page-link[value='1']`).parentElement.classList.add("active");
    }
  }
</script>