<style>
  .food-main {
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 0;
  }
  .food-list {
    width: 100%;
  }
  .foot-list-table tbody tr:hover {
    cursor: pointer;
    background: #EEEEEE;
  }
</style>

<!-- 음식 관리 메인 화면 -->
<main class="food-main m-5">

  <div class="success-alert alert alert-success" style="display: none;"><%=message%></div>
  <div class="error-alert alert alert-danger" style="display: none;"><%=errorMessage%></div>

  <!-- 음식 리스트 -->
  <section class="card w-100" aria-label="Food List">
    <div class="card-body w-100">
      <h4 class="mt-3 ms-3 mb-4"><b>음식 목록</b></h4>
      <table class="table foot-list-table">
        <thead>
          <tr>
            <th style="width: 100px">음식코드</th>
            <th style="width: 200px">음식명</th>
            <th>재료정보</th>
          </tr>
        </thead>
        <tbody>
          <% foodList.map((food) => { %>
            <tr onclick="onClickViewDetail(this)">
              <th class="fdCntntsNo"><%=food.fdCntntsNo%></th>
              <td><%= food.fdNm %></td>
              <td><%= food.matrlInfo %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      
      <article class="d-flex flex-column mt-4">
        <section class="d-flex justify-content-end mb-3">
          <button type="button" class="btn btn-primary" onclick="onClickAddButton(this)">추가하기</button>
        </section>
        <section class="d-flex justify-content-evenly">
          <!-- 페이지네이션 바 -->
          <%- include("../partials/paginationBar.ejs") %>
  
          <!-- 검색 버튼 -->
          <%- include("../partials/searchInput.ejs") %>
        </section>
      </article>
    </div>

  </section>
</main>

<script>

  // 음식 상세 조회 클릭시
  async function onClickViewDetail(e) {
    let params = getQueryParams();
    let fdCntntsNo = e.querySelector(".fdCntntsNo").innerText;
    window.location.href = "/admin/food/detail/" + fdCntntsNo + toQueryString(params);
  }

  // 음식 추가 버튼 클릭시
  async function onClickAddButton(e) {
    let params = getQueryParams();
    window.location.href = "/admin/food/writer/" + toQueryString(params);
  }

  // 페이지 로드 시
  window.addEventListener("load", onLoad, true);
  function onLoad() {
    
    // 메시지가 있다면 보여줌
    let messageEl = document.querySelector(".food-main .success-alert");
    if (messageEl.innerText !== "") {
      messageEl.style.display = "block";
    }

    // 에러메시지가 있다면 보여줌
    let errorMessageEl = document.querySelector(".food-main .error-alert");
    if (errorMessageEl.innerText !== "") {
      errorMessageEl.style.display = "block";
    }
    
  }
</script>