{{#section "style"}}
<style>
  .title-label {
    flex-basis: 200px;
  }
</style>
{{/section}}

{{#section "title"}}
<title>{{diet.dietNm}}</title>
{{/section}}

<h4>식단 정보</h4>
<div class="w-100 d-flex flex-column">
  <img
    width="300px"
    height="300px"
    src="/image/diet/normal/{{diet.rtnStreFileNm}}"
    alt="식단이미지"
    onerror="this.src='/image/no_image_available.jpg';">
  <div class="d-flex">
    <div class="title-label">식단 코드</div>
    <div>{{diet.cntntsNo}}</div>
  </div>
  <div class="d-flex">
    <div class="title-label">식단 구분코드</div>
    <div>{{diet.dietSeCode}}</div>
  </div>
  <div class="d-flex">
    <div class="title-label">식단 명</div>
    <div>{{diet.dietNm}}</div>
  </div>
  <div class="d-flex">
    <div class="title-label">식단 상세설명</div>
    <div>{{diet.dietCn}}</div>
  </div>
  <div class="d-flex">
    <div class="title-label">열량</div>
    <div>{{diet.clriInfo}}</div>
  </div>
  <div class="d-flex">
    <div class="title-label">당질</div>
    <div>{{diet.crbhInfo}}</div>
  </div>
  <div class="d-flex">
    <div class="title-label">단백질</div>
    <div>{{diet.protInfo}}</div>
  </div>
  <div class="d-flex">
    <div class="title-label">지질</div>
    <div>{{diet.ntrfsInfo}}</div>
  </div>
  <div class="d-flex">
    <div class="title-label">등록일</div>
    <div>{{diet.registDt}}</div>
  </div>
  <div class="d-flex">
    <div class="btn-group" role="group" aria-label="btnGroup">
      <button type="button" class="btn btn-secondary">수정</button>
      <button type="button" class="btn btn-danger">삭제</button>
    </div>
  </div>
  <hr/>
</div>

<div class="d-flex align-items-center">
  <h4>식단에 포함된 음식 정보</h4>
  <a type="button" class="w-30 mb-2 btn btn-primary">추가</a>
</div>

{{#each foodList}}
<div class="w-100 d-flex flex-column">
  <div class="card">
    <div class="card-body">

      <img
        width="200px"
        height="200px"
        src="/image/food/normal/{{this.rtnStreFileNm}}"
        alt="식단이미지"
        onerror="this.src='/image/no_image_available.jpg';">

      <div class="d-flex">
        <div class="title-label">음식 코드</div>
        <div>{{this.fdCntntsNo}}</div>
      </div>
      <div class="d-flex">
        <div class="title-label">음식 명</div>
        <div>{{this.fdNm}}</div>
      </div>
      <div class="d-flex">
        <div class="title-label">조리 방법</div>
        <div>{{this.ckngMthInfo}}</div>
      </div>
      <div class="d-flex">
        <div class="title-label">재료</div>
        <div>{{this.matrlInfo}}</div>
      </div>
      <div class="d-flex">
        <div class="title-label">등록일</div>
        <div>{{this.registDt}}</div>
      </div>
      <div class="d-flex">
        <div class="title-label">이미지 파일명</div>
        <div>{{this.rtnStreFileNm}}</div>
      </div>
      <a type="button" class="mt-2 w-30 mb-2 btn btn-secondary">수정</a>

    </div>
  </div>
  
</div>
{{/each}}

<a type="button" href="/admin/diet" class="mt-2 w-50 mb-2 btn btn-primary">뒤로 가기</a>

{{#section "script"}}
{{/section}}