<style>
    .main {
      flex-basis: 100%;
      flex-shrink: 1;
      flex-grow: 0;
    }
    .exercise-detail .divider {
      height: 3px;
      background: black;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .exercise-detail .back-button {
      cursor: pointer;
      text-decoration: none;
      color: black;
    }
  </style>
  
  <main class="main m-5">
  
    <!-- 운동 상세 정보 -->
    <section class="exercise-detail card w-100" aria-label="Exercise Detail">
      
      <div class="card-body w-100">
  
        <!-- 머릿말 부분 -->
        <section class="mt-3 ms-3 d-flex justify-content-between">
          <h4 class=""><b>운동 상세</b></h4>
          <a class="back-button mt-2" onclick="onClickBackButton('/admin/exercise')"><b>| 뒤로가기</b></a>
        </section>
        <div class="divider"></div>
  
        <!-- 몸통 부분 -->
        <% if (notFoundError) { %>
        <p>해당 운동을 찾을 수 없습니다!</p>
        <% } else { %>
        <!-- 내용 영역 -->
        <section class="ms-3">
          <div class="d-flex">
            <div style="width: 400px;">
              <h5 class="mb-0"><b>운동코드: <span class="ExcntntsNo"><%=exercise.ExcntntsNo%></span></b></h5>
              <h5><b><%=exercise.ExcNm%></b></h5>
              <img
              width="400px"
              height="400px"
              src="/image/exercise/normal/<%=exercise.rtnStreFileNm%>"
              alt="운동"
              onerror="this.src='/image/no_image_available.jpg';">
            </div>
            <div class="ms-4 d-flex flex-column" style="margin-top: 4rem">
              <p class="mb-0"><b>운동 정보</b></p>
              <p>분류: <%=exercise.ExcType%> 장소: <%=exercise.Excplace%> 강도: <%=exercise.Excintensity%> 인원: <%=exercise.Exccnt%></p>
              <p class="mb-0"><b>운동 설명</b></p>
              <% for (ExcCnn of exercise.ExcCn.split("\n")) { %>
                <p class="mb-0"><%=ExcCnn%></p>
              <% } %>
            </div>
          </div>
        </section>
  
        <!-- 버튼 영역 -->
        <section class="d-flex justify-content-end">
          <button class="btn btn-secondary" onclick="onClickEditButton()">수정하기</a>
          <button type="button" class="ms-3 btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal">삭제하기</button>
        </section>
        <% } %>
        
        </article>
      </div>
  
    </section>
  
    <!-- 삭제 모달 -->
    <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">운동 삭제</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%=exercise.ExcNm%>을(를) 정말로 삭제하시겠습니까?
          </div>
          <form action="/admin/exercise/remover/<%=exercise.ExcntntsNo%>" method="post" class="modal-footer">
            <button type="submit" class="btn btn-danger">예</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
          </form>
        </div>
      </div>
    </div>
    
  </main>
  
  <script>
    // 수정하기 버튼 눌렀을때
    function onClickEditButton() {
      let params = getQueryParams();
      let ExcntntsNo = document.querySelector(".ExcntntsNo").innerText;
      window.location.href = "/admin/exercise/editor/" + ExcntntsNo + toQueryString(params);
    }
  </script>